@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body {
    display: grid;
    grid-template-columns: auto 540px auto;
    grid-template-rows: auto 708px auto;
}

main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 44px 32px 632px;
}

#topper {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    height: 44px;
}

#topper>h3 {
    grid-column: 1;
    align-self: left;
    justify-self: baseline;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.533333px;
}

#radioName {
    grid-column: 6;
    box-sizing: content-box;
    align-self: right;
    justify-self: right;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: right;
    letter-spacing: 1px;
    padding-top: 28px;
}

#themeSelector {
    grid-column: 7/ span 2;
    align-self: center;
    justify-self: center;
    border-radius: 13px;
}

[id="blue"],[id="white"],[id="purple"] {
    position: relative;
    left: 5px;
    width: 16px;
}

label {
    position: relative;
    top: -20px;
    right: 12px;
}

#totCalculator {
    grid-row: 3;
    display: grid;
    grid-template-rows: 128px 24px 480px;
}

#buttonBox {
    display: grid;
    width: 540px;
    height: 480px;
    font-size: 40rem;
    border-radius: 10px;
    grid-row: 3;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "seven eight nine del"
                        "four five six plus"
                        "one two three subtr"
                        "period zero0 divide multiplication"
                        "reset reset equal equal";
    padding: 32px;
    box-sizing: border-box;
                         
}

#inputScreen {
    width: 540px;
    height: 128px;
    grid-row: 1;
    display: grid;
    grid-template-rows: 15px auto;
    border-radius: 10px;
    box-sizing: border-box;
}

#previousInput {
    grid-row: 1;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: left;
    letter-spacing: -0.933333px;
    margin-left: 15px
}

#screen {
    grid-row: 2;
    height: 52px;
    margin: 0;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 52px;
    text-align: right;
    letter-spacing: -0.933333px;
    padding: 32px;
}

.numsOperats {
    width: 101px;
    height: 64px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    font-family: 'League Spartan';
    font-style: normal;
    font-size: 40px;
    line-height: 37px;
    border: .1px;  
}

.bigButton {
    width: 227px;
    height: 64px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    
    font-family: 'League Spartan';
    font-style: normal;
    font-size: 28px;
    line-height: 26px;
    border: .1px;  
}

#equals {
    grid-area: equal;
}

#reset {
    grid-area: reset;
    letter-spacing: -0.466667px;
}

#del {
    grid-area: del;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: -0.466667px;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#plus {
    grid-area: plus;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#subtract {
    grid-area: subtr;
}

#three {
    grid-area: three;
}

#period {
    grid-area: period;
}

#zero0 {
    grid-area: zero0;
}

#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiplication;
}

.attribution {
    font-size: 11px;
    text-align: center;
    grid-row: 3;
    grid-column: 2;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }