
body {
    background-color: #3A4663;
    color: #FFFFFF;
}
#buttonBox {
    background-color: #242D44;
    box-shadow: #979797;
}

#inputScreen {
    background-color: #181F33;
    color: #FFFFFF;
}
.numsOperats {
    background-color: #EAE3DC;
    color: #434A59;
    box-shadow: inset 0px -4px 0px #B3A497;
}

.bigButton {
    color: #FFFFFF;
}



#equals {
    background-color: #D03F2F;
    box-shadow: inset 0px -4px 0px #93261A;
}

#reset {
    background-color: #647198;
    box-shadow: inset 0px -4px 0px #414E73;
}

#del {
    background-color: #647198;
    color: #FFFFFF;
    box-shadow: inset 0px -4px 0px #414E73;
}