
body {
    background-color: #17062A;
    color: #FFFFFF;
}

#themeSelector {
    background: #242D44;
}

[id="blue"],[id="white"],[id="purple"] {
    accent-color: #D03F2F;
}

#buttonBox {
    background-color: #242D44;
    box-shadow: #979797;
}

#inputScreen {
    background-color: #181F33;
    color: #FFFFFF;
}
.numsOperats {
    background-color: #EAE3DC;
    color: #434A59;
    box-shadow: inset 0px -4px 0px #B3A497;
}

.numsOperats:hover {
    background-color: #FFFFFE;
}

.bigButton {
    color: #FFFFFF;
}

#equals {
    background-color: #D03F2F;
    box-shadow: inset 0px -4px 0px #93261A;
}

#equals:hover {
    background-color: #F96B5B;
}

#reset {
    background-color: #647198;
    box-shadow: inset 0px -4px 0px #414E73;
}

#reset:hover {
    background-color: #A2B2E1;
}

#del {
    background-color: #647198;
    color: #FFFFFF;
    box-shadow: inset 0px -4px 0px #414E73;
}

#del:hover {
    background-color: #A2B2E1;
}