body {
    background-color: #17062A;
    color: #FFE53D;
}

#themeSelector {
    background: #1E0936;
}

[id="blue"],[id="white"],[id="purple"] {
    accent-color: #00DED0;
}

#buttonBox {
    background-color: #1E0936;
    box-shadow: #979797;
}

#inputScreen {
    background-color: #1E0936;
    color: #FFE53D;
}
.numsOperats {
    background-color: #331C4D;
    color: #FFE53D;
    box-shadow: inset 0px -4px 0px #881C9E;
}

.numsOperats:hover {
    background-color: #6C34AC;
}

.bigButton {
    color: #1A2327;
}

#equals {
    background-color: #00DED0;
    box-shadow: inset 0px -4px 0px #6CF9F1;
}

#equals:hover {
    background-color: #93FFF8;
}

#reset {
    background-color: #56077C;
    box-shadow: inset 0px -4px 0px #BE15F4;
    color: #FFFFFF
}

#reset:hover {
    background-color: #8631AF;
}

#del {
    background-color: #56077C;
    color: #FFFFFF;
    box-shadow: inset 0px -4px 0px #BE15F4;
}

#del:hover {
    background-color: #8631AF;
}