body {
    background-color: #E6E6E6;
    color: #36362C;
}

#themeSelector {
    background: #D2CDCD;
}

[id="blue"],[id="white"],[id="purple"] {
    accent-color: #C85402;
}

#buttonBox {
    background-color: #D2CDCD;
    box-shadow: #979797;
}

#inputScreen {
    background-color: #EEEEEE;
    color: #36362C;
}
.numsOperats {
    background-color: #E5E4E1;
    color: #36362C;
    box-shadow: inset 0px -4px 0px #A79E91;
}

.numsOperats:hover {
    background-color: #FFFFFF;
}

.bigButton {
    color: #FFFFFF;
}

#equals {
    background-color: #C85402;
    box-shadow: inset 0px -4px 0px #873901;
}

#equals:hover {
    background-color: #FF8A38;
}

#reset {
    background-color: #378187;
    box-shadow: inset 0px -4px 0px #1B6066;
}

#reset:hover {
    background-color: #62B5BC;
}

#del {
    background-color: #378187;
    color: #FFFFFF;
    box-shadow: inset 0px -4px 0px #1B6066;
}

#del:hover {
    background-color: #62B5BC;
}